

      <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container" role="main">

      <div class="well">
         <div class="row">
        
        <div class="col-md-6">

        <h1>Jade Manickum!!!</h1> <img src="/animated-butterfly-image-0028.gif" alt="butterfly"/> 
<p>I am Indian - South African - Irish girl</p>
        </div>
       
        <div class="col-md-6">
          <img  src="/jade.jpg" class="img-thumbnail" alt="Jade"/>
           </div>
        </div>
        </div>
</div>

 <div class="page-header">
        <h1>Some photos</h1>
      </div>
      <div id="carousel-example-generic"  class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/jp.jpg" alt="First slide">
          </div>
          <div class="item">
            <img src="/jp2.jpg" alt="Second slide">
          </div>
          <div class="item">
            <img src="/st.jpg" alt="Third slide">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
